<div class="my-5">
    <h1 class="text-center mb-5">장바구니</h1>
    <div id="div_cart"></div>
</div>
<script id="temp_cart" type="x-handlebars-template">
    <table class="table">
        {{#each .}}
            <tr>
                <td><img src="{{thumbnail}}" width="30"></td>
                <td>{{title}}</td>
                <td>{{authors}}</td>
                <td>{{price}}</td>
                <td>{{publisher}}</td>
                <td><button class="btn btn-danger btn-sm" isbn="{{isbn}}">삭제</button></td>
            </tr>
        {{/each}}
    </table>
</script>

<script type="module">
    // import
    import { app } from '/javascripts/firebase.js';
    import { getDatabase, ref, onValue, remove} from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";

    const db = getDatabase(app); // app 시험에 나옴

    // 장바구니 목록
    const ref_cart = ref(db, `cart/${sessionStorage.getItem("uid")}`);
    onValue(ref_cart, result =>{
        let items = [];
        result.forEach(item => {
            // console.log(item.key, item.val());
            items.push(item.val());
        });
        // console.log(items);
        const temp = Handlebars.compile($("#temp_cart").html());
        $("#div_cart").html(temp(items));
    });

    // 리스트 삭제
    $("#div_cart").on('click', '.btn', async function(){
        const isbn = $(this).attr("isbn");
        if(!confirm(`${isbn} 삭제하실래요?`)) return;
        
        const ref_cart = ref(db, `cart/${sessionStorage.getItem("uid")}/${isbn}`);
        await remove(ref_cart);
        alert("삭제되었습니다.");
    });

</script>