<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/books">도서검색</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/locals">지역검색</a>
                </li>
                <li class="nav-item" id="cart" style="display: none;">
                    <a class="nav-link active" aria-current="page" href="/books/cart">장바구니</a>
                </li>
                <li class="nav-item" id="favorite" style="display: none;">
                    <a class="nav-link active" aria-current="page" href="/locals/favorite">즐겨찾기</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li id="login" class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/users/login">로그인</a>
                </li>
                <li id="email" class="nav-item" style="display:none;">
                    <a class="nav-link active" aria-current="page">email</a>
                </li>
                <li id="logout" class="nav-item" style="display:none; cursor:pointer;">
                    <a class="nav-link active" aria-current="page">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    if(sessionStorage.getItem("uid")){
        $("#login, #email, #logout, #cart, #favorite").toggle();
        $("#email a").html(sessionStorage.getItem("email"));
    }

    // logout
    $("#logout").on('click', 'a', function(e){
        e.preventDefault();

        if(confirm("do you want to logout seriusly?")){
            sessionStorage.clear();
            location.href='/';
        }
    });
</script>