@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'GmarketSansMedium';
}

a {
  color: #00B7FF;
}

@media screen and (max-width: 960px) {
  #img_header {
      display: none;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

*{
  font-family: 'Sunflower', sans-serif;
}