<style>
    #photo {
        border-radius: 50%;
        border: 1px solid gray;
        cursor: pointer;
        width: 200px;
    }
    #file {
        display: none;
    }
</style>

<div class="row my-5 justify-content-center">
    <h1 class="text-center">Mypage</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div>
                <div class="text-center my-3">
                    <img id="photo" src="http://via.placeholder.com/200x200" alt="">
                    <input id="file" type="file">
                </div>
                <div class="text-center">
                    <button id="btn-photo" class="btn btn-primary px-5 my-3" type="button">이미지 변경</button>
                </div>
            </div>
            <form name="frm" action="" class="card p-3">
                <div class="input-group mb-2">
                    <span class="input-group-text">이름</span>
                    <input name="name" type="text" class="form-control">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">전화</span>
                    <input name="phone" type="text" class="form-control">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">주소</span>
                    <input name="address" type="text" class="form-control" readonly>
                    <button type="button" id="btn-search" class="btn btn-primary">검색</button>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-5">저장</button>
                    <button type="reset" class="btn btn-secondary px-5">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module">
    import { app } from "/javascripts/firebase.js";
    import { getFirestore, setDoc, doc, getDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    import { getStorage,uploadBytes,ref,getDownloadURL } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-storage.js";
    const db = getFirestore(app);
    const storage = getStorage(app);
    const uid = sessionStorage.getItem("uid");
    const email = sessionStorage.getItem("email");

    let user;
    $(window).on('load', async function(){
        const result = await getDoc(doc(db, `users/${uid}`));
        console.log(result.data());

        user = result.data();
        $(frm.name).val(user.name);
        $(frm.phone).val(user.phone);
        $(frm.address).val(user.address);
    });

    $("#btn-photo").on('click', async function(){
        if($("#file").val() == ""){
            alert("변경할 이미지를 선택 해 주세요.");
        } else {
            if(confirm("정말 변경하시겠습니까?")){
                const snapshot=await uploadBytes(ref(storage, `/photo/${Date.now()}.jpg`), $("#file")[0].files[0]);
                const url=await getDownloadURL(snapshot.ref);
                await setDoc(doc(db, `users/${uid}`), {...user, photo:url});
                alert("이미지가 변경되었습니다!");
            }
        }
    });

    // address
    $("#btn-search").on("click", function(){
        new daum.Postcode({
            oncomplete: function(data){
                const address = data.address;
                const building = data.buildingName ? `(${data.buildingName})` : '';

                $(frm.address).val(address + building);

            }
        }).open(); 
    });

    $("#photo").on('click', function(){
        $("#file").click();
    });

    // attach img
    $("#file").on('change', function(e){
        $("#photo").attr("src", URL.createObjectURL(e.target.files[0]));
    });

    // user값 전송
    $(frm).on("submit", async function(e){
        e.preventDefault();

        const name = $(frm.name).val();
        const phone = $(frm.phone).val();
        const address = $(frm.address).val();

        if(name == ""){
            alert("이름을 입력하세요.");
            $(frm.name).focus();
            return;
        }
        if(phone == "") {
            alert("휴대폰 번호를 입력하세요.");
            $(frm.phone).focus();
            return;
        }
        if(address == ""){
            alert("주소를 입력하세요.");
            $(frm.address).focus();
            return;
        }

        if(confirm("사용자 정보를 저장하시겠습니까?")){
            // save
            await setDoc(doc(db, `users/${uid}`), {
                email,name,phone,address
            });
            alert("사용자 정보 저장 완료");
            location.href='/';
        }
    });

</script>