<div class="my-5">
    <h1 class="text-center mb-5">글쓰기</h1>
    <form name="frm">
        <input name="title" type="text" class="form-control" placeholder="제목을 입력하세요." />
        <textarea name="body" class="form-control mt-2" placeholder="내용을 입력하세요." rows="10"></textarea>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary px-5">등록</button>
            <button type="reset" class="btn btn-secondary px-5">취소</button>
        </div>
    </form>
</div>

<script type="module">
    import { app } from "/javascripts/firebase.js";
    import { getFirestore, collection, addDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);

    $(frm).on("submit", async function(e){
        e.preventDefault();
        const title = $(frm.title).val();
        const body = $(frm.body).val();

        if(title == "" || body == ""){
            alert("제목 또는 내용을 입력해주세요.");
            $(frm.title).focus();
        } else {
            if(confirm("저장하실래요?")){
                // 게시글 저장
                const email = sessionStorage.getItem("email");
                const date = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
                // console.log(date, email, title, body);

                await addDoc(collection(db, "posts"), {
                    email:email, 
                    title:title, 
                    body:body, 
                    date:date
                });

                alert("등록완료");
                location.href="/posts";
            }
        }
    })
</script>