<div class="my-5">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div id="div_post"></div>
</div>
<script type="x-handlebars-template" id="temp_post">
    <form name="frm">
        <input name="title" type="text" class="form-control" placeholder="제목을 입력하세요." value="{{title}}" />
        <textarea name="body" class="form-control mt-2" placeholder="내용을 입력하세요." rows="10">{{body}}</textarea>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary px-5">수정</button>
            <button type="reset" class="btn btn-secondary px-5">취소</button>
        </div>
    </form>
</script>


<script type="module">
    import { app } from "/javascripts/firebase.js";
    import { getFirestore, setDoc, doc, getDoc, deleteDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    
    const db = getFirestore(app);
    const id = "<%=id%>";

    const snapshot = await getDoc(doc(db, `posts/${id}`));
    
    const post = snapshot.data();
    console.log(post);

    const temp = Handlebars.compile($("#temp_post").html());
    $("#div_post").html(temp(post));
    
    $(frm).on('submit', async function(e){
        e.preventDefault();

        if(confirm(`${id} 번 게시글을 수정하실래요?`)){
            const title = $(frm.title).val();
            const body = $(frm.body).val();
            const data = {...post, title, body};
            await setDoc(doc(db, `posts/${id}`), data);
            alert('수정완료');
            location.href='/posts';
        }
    });
    
    
    
   
</script>